---
---

@import "{{ site.theme }}";
#footer_wrap {display: none;}
#forkme_banner {display: none;}
#downloads {display: none;}

@font-face {
    font-family: RimWordFont;
    src: url("../assets/fonts/RimWordFont.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  background: #eeeeee;
  font-family: “Trebuchet MS”, Verdana, Arial, serif;
}

#project_title {
	font-family: RimWordFont;
}

#main_content_wrap {
            background-image: url("../assets/images/bg.png");
            /*background-color: DimGrey;*/
            height: 1280;
            width:100%;
            background-size:cover;
        }